.complite {
	padding: 88px 0;

	&__list {
		margin-top: 54px;
		display: flex;
		justify-content: space-between;
	}

	&__item {
		padding-right: 30px;
		line-height: 30px;

		li {
			list-style: disc inside;
		}
	}
}